{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">

                <fieldset disabled>
                    <div class="row disabled">
                        <div class="col col-8">
                            Название: <input type="text" value="{{ snippet.name }}" class="form-control">
                        </div>
                        <div class="col col-4">
                            Дата создания:<input type="text" value="{{ snippet.creation_date }}" class="form-control">
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <div class="p-2 h-100" style="border:1px solid #ced4da; border-radius:5px;">
                                <p>
                                    {{ snippet.code }}
                                </p>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <br>
                <table border="1">
                    <tr>
                        <td>Дата создания</td>
                        <td>Автор</td>
                        <td>Комментарий</td>
                    </tr>

                    {% for comment in snippet.comments.all %}
                        <tr>
                            <td>{{ comment.creation_date }}</td>
                            <td>{{ comment.author.username }}</td>
                            <td>{{ comment.text }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <div class='row mt-3'>
                    <div class='col'>
                        {% if request.user.is_authenticated %} 
                        <form action="{% url 'comment_add' %}" method="POST">
                            {% csrf_token %}
                            {{comment_form}}
                            <input type="hidden" name="snippet_id" value="{{snippet.id}}"><br>
                            <button type="submit" class='btn btn-primary'>Добавить</button>
                        </form>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 